@charset "UTF-8";
@font-face {
  font-family: SlimamifBold;
  src: url("fonts/20451.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*ко всему*/
* {
  margin: 0;
  padding: 0;
  font-family: SlimamifBold;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0;
}

/*фон*/
body {
  background: url("../img/fon.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*создание контейнера*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(255, 147, 49, 0.9);
}

/*разметка флекса*/
.flex div {
  width: 50%;
}

/*отступы блока с логотипом*/
.flex .logo {
  margin: 0.4% 1%;
}

/*размер изображения*/
.flex .logo img {
  width: 20%;
}

/*расположение кнопки*/
.button_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*вид кнопки*/
.button_block a {
  text-decoration: none;
  padding: 1% 7%;
  text-align: center;
  color: #e9882f;
  background-color: rgba(97, 19, 17, 0.9);
  font-size: 1.3em;
  border: 1px solid;
  border-radius: 10px;
  margin: 1.7%;
  display: block;
}

/*наведение на кнопку*/
.button_block a:hover {
  color: white;
  background-color: #611311;
}

/*меню для мобилки и планшета*/
.burger {
  display: none;
  margin: 1.7%;
  width: 14%;
}

/*изображение иконки меню*/
.burger img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Слайдер */
.slick-slider {
  position: relative;
  padding: 3vh 5vw;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 15;
  font-size: 0;
  width: 80px;
  height: 100px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("../img/slider/arrow/prev.png") 0 0/100% no-repeat;
  border: 0;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("../img/slider/arrow/next.png") 0 0/100% no-repeat;
  border: 0;
}

/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*размещение точки*/
.slick-dots ul {
  top: -50%;
}

/*вид точек*/
.slick-dots li {
  list-style: none;
  margin: 0 1vw;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: rgba(71, 71, 71, 0.9);
  border: #fff 1px solid;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: #fff;
}

/*изображение в слайдере*/
.slaid img {
  border-radius: 20px;
  border: 5px solid #fff;
  width: 95%;
  height: 450px;
  margin: 0 2%;
}

/*вторая панель навигации флекс контейнер*/
.nav {
  background-color: rgba(255, 147, 49, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*флекс пункты меню*/
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 100%;
}

/*размещение пунктов*/
.nav li {
  display: block;
  list-style: none;
  text-align: center;
  width: 20%;
  height: 100%;
}

/*картинки в меню*/
.nav img {
  margin: 3% 3%;
}

/*место под лого*/
.nav .logo {
  width: 30%;
}

/*лого при фиксации меню*/
.nav .logo img {
  display: none;
  width: 40%;
}

/*вид пунктов фикс-меню*/
.nav li a {
  height: calc(100% - 1vh);
  text-decoration: none;
  display: block;
  width: 100%;
  color: #000;
  padding: 1.5vh 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

/*вид при наведении пунктов фикс-меню*/
.nav li a:hover {
  background-color: #000;
  color: #fff;
}

.nav li a.selected {
  background-color: #000;
  color: #fff;
}

/*характеристики картинки фикс-меню*/
.nav li a img {
  display: block;
  width: 42%;
  margin: 0 auto;
  height: 80%;
}

/*размещение контейнера корзины*/
.nav .basket {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*блок с корзины*/
.nav .basket .open_basket {
  width: 20%;
  height: 100%;
  margin: 0 6vw;
}

/*расположение картинки корзины*/
.nav .basket .open_basket img {
  width: 80%;
  display: block;
  height: 80%;
  margin: 10% 0;
}

/* ПИДОР. ЗАПОМНИ ЭТО ЦЫФЕРКА В КАРЗИНЕ */
.nav .basket .open_basket .count {
  font-family: fantasy;
  font-weight: normal;
  font-size: 95%;
  position: relative;
  content: "0";
  display: block;
  height: 0;
  top: -65%;
  left: 58%;
}

/*наведение на картинку корзины*/
.nav .basket .open_basket img:hover {
  opacity: 0.8;
}

/*основной блок с товаром флекс-конт*/
.conteiner {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*блок товара*/
.conteiner .con_item {
  margin: 1% auto;
  padding: 1%;
  width: 20%;
  background-color: rgba(17, 17, 17, 0.58);
  text-decoration: none;
  border-radius: 20px;
}

/*расположение каринки товара*/
.conteiner .con_item img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

/*параметры названия товара(текста) */
.conteiner .con_item h1 {
  color: #ffffff;
  margin: 1vh auto;
  width: 95%;
  border-radius: 20px;
  font-size: 155%;
}

/*переключалка раположение*/
.conteiner .check {
  margin: 0 0 0 0;
  font-size: 13pt;
  float: left;
}

/*вид переключателей*/
.conteiner .check span {
  display: block;
  float: left;
  color: #000;
  padding: 0.2vw 0.4vw;
  text-align: center;
  border: 2px solid #fff;
  background-color: #ccc;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*Убираем возможность выделять текст*/
}

/*скругление левой*/
.conteiner span.right {
  border-radius: 0 10px 10px 0;
}

/*скругление левой*/
.conteiner span.left {
  border-radius: 10px 0 0 10px;
}

/*активный блок переключалки*/
.conteiner span.check_on {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 10px #000;
          box-shadow: inset 0 0 10px #000;
}

/*блок с выводом цены размещение и вид*/
.conteiner .con_item div.price {
  font-size: 18pt;
  width: 50%;
  margin: 0 0 0 50%;
  text-align: center;
  background: white;
  border-radius: 1vw;
}

/*облать нажатия кнопки*/
.conteiner .con_item .submit {
  display: block;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*заполнение кнопки добавить в корзину*/
.conteiner .con_item .submit h2 {
  margin: 5% auto 0 auto;
  padding: 0.4vw 0;
  text-align: center;
  color: #fff;
  background-color: #f48f33;
  border: 1px solid #000;
  border-radius: 5px;
}

/*Размещение подвала*/
footer {
  bottom: 0;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 147, 49, 0.9);
}

footer .map {
  width: 50%;
}

/* Модальные окна */
/*общий блок модал*/
.modal_window {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: block;
}

/*блок затемнение модал*/
.modal_window .hiden_block {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Стандартные настройки фона */
.modal_window img.fon {
  position: fixed;
  display: block;
  margin: 0;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* форма модалки */
.modal_window form {
  position: fixed;
  color: #fff;
}

/*первый заголовок модал*/
.modal_window form h2 {
  text-align: center;
}

/*подзаголовки заголовок модал*/
.modal_window form h4 {
  text-align: center;
  margin: 2% 0% 2% 0%;
}

/*размещение полей ввода модал*/
.modal_window form input {
  display: block;
  margin: 1vh auto;
  height: 4vh;
  width: 80%;
  border-radius: 200px;
  text-align: center;
}

/*Закрывалка изображение модал*/
.modal_window img.close {
  width: 3%;
  position: fixed;
  right: 30%;
}

/*размещение кнопки доп модал*/
.modal_window form input[type='submit'] {
  margin-top: 6%;
  margin-bottom: 3%;
}

/* Авторизация админки */
/* форма админки */
.modal_window form.login {
  top: 20%;
  width: 20%;
  left: 40%;
}

/* фон аторизации админки */
.modal_window#login img.fon {
  width: 30%;
  height: 60%;
  top: 5%;
  left: 35%;
}

/* Карзина */
.modal_window#basket {
  display: none;
}

/*фон карзины*/
.modal_window#basket img.fon {
  top: -39px;
  height: 100%;
  left: 21%;
  width: 56%;
}

/* Форма карзины */
.modal_window#basket form.basket {
  top: 10%;
  width: 40%;
  left: 30%;
}

/* Товары*/
.modal_window#basket form .basket__products .products {
  height: 50vh;
  margin: 6vh 5% 2vh 5%;
  overflow: auto;
  scrollbar-width: none;
}

/* Скрытие скролбара блока */
.modal_window#basket form .basket__products .products::-webkit-scrollbar {
  width: 0;
}

/* Блок товара */
.modal_window#basket form .products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  margin: 2% auto;
  border-top: 1px solid;
  padding: 1%;
}

/* Блок изображения товара в карзине */
.modal_window#basket form .products__item .products__img {
  width: 30%;
  height: 100%;
}

/* Изображение товара в карзине */
.modal_window#basket form .products__item .products__img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 20px;
  border: 1px solid;
}

/* Блок информации о таваре и редактирование */
.modal_window#basket form .products__item .products__info {
  margin: 0 4%;
  width: 55%;
}

/* Описание товара */
.modal_window#basket form .products__item .products__info .products__discription {
  font-size: 83%;
  margin: 3% 0 0;
  height: 45%;
  overflow: hidden;
}

/* Блок с таблеткой и ценой */
.modal_window#basket form .products__item .products__info .products__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* блок с таблеткой */
.modal_window#basket form .products__item .products__info .products__nav .counter {
  border-radius: 20px;
  border: 2px solid;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2% 0 0;
}

/* все спаны в таблетке */
.modal_window#basket form .products__item .products__info .products__nav .counter span {
  display: block;
  width: 35%;
  text-align: center;
}

/* минус */
.modal_window#basket form .products__item .products__info .products__nav .counter .counter__minus {
  border-right: 2px solid;
  background-color: rgba(246, 23, 23, 0.5);
  border-radius: 20px 0 0 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* плюс */
.modal_window#basket form .products__item .products__info .products__nav .counter .counter__plus {
  border-left: 2px solid;
  background-color: rgba(38, 150, 32, 0.5);
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* цена */
.modal_window#basket form .products__item .products__info .products__nav .price {
  width: 30%;
  text-align: center;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  color: black;
  text-align: center;
  margin: 2% 0 0 27%;
}

/* блок с картинкой удаления */
.modal_window#basket form .products__item .products__delete {
  width: 7%;
}

/* Картинка удаления */
.modal_window#basket form .products__item .products__delete img {
  width: 100%;
}

.modal_window#basket form .basket__products input[type='submit'] {
  width: 60%;
  margin: 1% auto;
}

/* Блок для заполнения личной информации при оформлении заказа */
.modal_window#basket form .basket__information {
  display: none;
}

/* способ оплаты */
.modal_window#basket form .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 3% auto;
}

/* надписи в способе оплаты */
.modal_window#basket form .payment label {
  width: 50%;
  text-align: center;
  display: block;
}

/* радио кнопки */
.modal_window#basket form .payment label input {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 2%;
}

/* цена при оформлении */
.modal_window#basket form .final_price {
  padding: 0 10%;
  font-size: 110%;
}

/* блок с кнопками  */
.modal_window#basket form .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* кнопки  */
.modal_window#basket form .navigation input {
  width: 30%;
  font-size: 110%;
  height: auto;
  color: #000;
  margin: auto 2%;
}
/*# sourceMappingURL=style.css.map */